{%- if section.settings.enable_discount_product -%}
{%- liquid
  assign title = section.settings.title
  assign description = section.settings.description
  assign discount_product = section.settings.product
  assign product_title = section.settings.product_title
  assign product_vendor = section.settings.product_vendor
  assign product_category = section.settings.product_category
  assign product_description = section.settings.product_description
  assign btn_text = section.settings.btn_text
  assign countdown_default_text = section.settings.countdown_default_text
  assign countdown_discount_end_text = section.settings.countdown_discount_end_text
  assign countdown_timer_percent_off = section.settings.countdown_timer_percent_off
  assign enable_countdown = section.settings.enable_countdown
  assign countdown_end_time = section.settings.countdown_end_time
  assign countdown_end_date = section.settings.countdown_end_date
  assign countdown_end_year = section.settings.countdown_end_year
  assign countdown_end_month = section.settings.countdown_end_month
  assign bg_color_1 = section.settings.bg_color_1
  assign bg_color_2 = section.settings.bg_color_2
  assign text_color = section.settings.text_color
  assign bg_button_color_1 = section.settings.bg_button_color_1
  assign bg_button_color_2 = section.settings.bg_button_color_2
  assign button_text_color = section.settings.button_text_color
  assign percent_off_bg_color = section.settings.percent_off_bg_color
  assign percent_off_text_color = section.settings.percent_off_text_color
  assign bg_timer_color_1 = section.settings.bg_timer_color_1
  assign bg_timer_color_2 = section.settings.bg_timer_color_2
  assign timer_text_color = section.settings.timer_text_color
  assign circle_img = section.settings.circle_img
  assign dots_img = section.settings.dots_img
  assign bg_sping_img = section.settings.bg_sping_img
-%}
{%- style -%}

    #discount-section-{{ section.id }} .discount-section-inner {
        background: linear-gradient(180deg, {{ bg_color_1 }} 0%, {{ bg_color_2 }} 100%);
    }
    #discount-section-{{ section.id }} .discount-section-inner::before {
       content: '';
       background: url('{{ circle_img |  img_url: 'master'  }}') left top no-repeat,
           url('{{ dots_img |  img_url: 'master'  }}') left bottom no-repeat,
           url('{{ bg_sping_img |  img_url: 'master'  }}') right bottom no-repeat;
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
   }
   #discount-section-{{ section.id }} .discount-row p,
   #discount-section-{{ section.id }} .discount-row h2,
   #discount-section-{{ section.id }} .discount-row h3,
   #discount-section-{{ section.id }} .discount-row .discount-pro-vendor,
   #discount-section-{{ section.id }} .discount-row .discount-pro-category {
        color: {{ text_color }};
    }
    #discount-section-{{ section.id }} .discount-row .discount-pro-atc-btn {
    background: linear-gradient(180deg, {{ bg_button_color_1  }} 0%, {{ bg_button_color_2  }} 100%);
    }
    #discount-section-{{ section.id }} .discount-row .discount-pro-atc span {
     color: {{ button_text_color  }};
    }
    #discount-section-{{ section.id }} .discount-row .discount-timer-percent-box {
        background:{{ percent_off_bg_color }};
        color: {{ percent_off_text_color }};
    }
    #discount-section-{{ section.id }} .discount-row .discount-timer-percent-box span {
    color: {{ percent_off_text_color }};
    }
    #discount-section-{{ section.id }} .discount-row .discount-timer-time {
    background: linear-gradient(180deg, {{ bg_timer_color_1 }} 0%, {{ bg_timer_color_2 }} 100%);
    }
    #discount-section-{{ section.id }} #clockdiv {
    color: {{ timer_text_color }};
    }
    #discount-section-{{ section.id }} #clockdiv div>span {
        color: {{ timer_text_color }};
    }
    #discount-section-{{ section.id }} #saleActive,
    #discount-section-{{ section.id }} #saleEnded {
        color: {{ timer_text_color }};
    }

 {%- endstyle -%} 
  
<div class="discount-section-wrapper" id="discount-section-{{ section.id }}">
  <div class="discount-section-inner">
    <div class="discount-row">
      <div class="discount-col discount-col-head">
        <div class="discount-col-heading">
          {%- if title != blank -%}
            <h2>{{ title }}</h2>
          {%- endif -%}
        </div>
        <div class="discount-col-text">
          {%- if description != blank -%}
            <p>{{ description }}</p>
          {%- endif -%}
        </div>
      </div>

      <div class="discount-col discount-col-img">
        {%- if discount_product != blank -%}
          <div class="discount-product-img">
            <img src="{{ discount_product.featured_image |  img_url: 'medium' }}" width="198px" height="182px">
          </div>
        {%- endif -%}
      </div>

      <div class="discount-col discount-col-pro">
        <div class="discount-product-info">
          {%- if product_title != blank -%}
            <div class="discount-pro-title">
              <h3>{{ product_title }}</h3>
            </div>
          {%- endif -%}
          {%- if product_vendor != blank -%}
            <div class="discount-pro-vendor">
              <label>Vendor : </label><span>{{ product_vendor }}</span>
            </div>
          {%- endif -%}
          {%- if product_category != blank -%}
            <div class="discount-pro-category">
              <label>Category : </label><span>{{ product_category }}</span>
            </div>
          {%- endif -%}
          {%- if product_description != blank -%}
            <div class="discount-pro-desc">
              <p>{{ product_description }}</p>
            </div>
          {%- endif -%}
          {%- if btn_text != blank -%}
            <div class="discount-pro-atc">
              <button type="button" class="discount-pro-atc-btn" data-var-id="{{ discount_product.first_available_variant.id }}">
                <span>{{ btn_text }}</span>
              </button>
            </div>
          {%- endif -%}
        </div>
      </div>
      <div class="discount-col discount-col-time">
        <div class="discount-col-timer">
          {%- if enable_countdown -%}
          <div class="discount-timer-time">
            <div id="clockdiv">
              <div>
                <div class="smalltext day-label">DAY</div>
                <span id="daysBox"></span>
              </div>
              <div>
                <div class="smalltext hr-label">HR</div>
                <span id="hoursBox"></span>
              </div>
              <div>
                <div class="smalltext min-label">MIN</div>
                <span id="minsBox"></span>
              </div>
              <div>
                <div class="smalltext sec-label">SEC</div>
                <span id="secsBox"></span>
              </div>
            </div>
          </div>
          {%- endif -%}
          {%- if countdown_default_text != blank -%}
          <div class="discount-timer-label" id="saleActive">
            <h3>{{ countdown_default_text }}</h3>
          </div>
        {%- endif -%}
        {%- if countdown_discount_end_text != blank -%}
          <div class="discount-timer-label"  id="saleEnded">{{ countdown_discount_end_text }}</div>
        {%- endif -%}  
        {%- if countdown_timer_percent_off != blank -%}
          <div class="discount-timer-percent" id="percentOff">
            <div class="discount-timer-percent-box">{{ countdown_timer_percent_off }}</div>
          </div>
        {%- endif -%}  
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ 'discount-product.js' | asset_url }}" defer="defer"></script>
<script>
    function cdtd() {
	var xmas = new Date("{{ countdown_end_month }} {{ countdown_end_date }}, {{countdown_end_year}} {{ countdown_end_time }}");
	var now = new Date();
	var timeDiff = xmas.getTime() - now.getTime();
	if (timeDiff <= 0) {
        clearTimeout(timer);
    		   // Run any code needed for countdown completion here
		        document.querySelector("#clockdiv").style.display="none";
				document.querySelector("#saleActive").style.display="none";
                document.querySelector("#percentOff").style.display="none";
                document.querySelector(".discount-section-wrapper").style.display="none";
               {% if countdown_sale_end_text != blank %}
				document.querySelector("#saleEnded").style.display="block";			
               {% endif %}
        }
	var seconds = Math.floor(timeDiff / 1000);
	var minutes = Math.floor(seconds / 60);
	var hours = Math.floor(minutes / 60);
	var days = Math.floor(hours / 24);
	  hours %= 24;
      minutes %= 60;
      seconds %= 60;
	  if (days == 0)
      {
        document.querySelector("#daysBox").style.display="none";
        document.querySelector(".day-label").style.display="none";
        }
      else
        document.getElementById("daysBox").innerHTML = '<span class="box-time">'+days+'</span> :';
      if (hours == 0)
        document.querySelector("#hoursBox").style.display="none";
      else
	document.getElementById("hoursBox").innerHTML = '<span class="box-time">'+hours+'</span> :';
	document.getElementById("minsBox").innerHTML = '<span class="box-time">'+minutes+'</span> :';
	document.getElementById("secsBox").innerHTML = '<span class="box-time">'+seconds+'</span>';

	var timer = setTimeout('cdtd()',1000);
}
cdtd();
</script>
{%- endif -%}